body {
  margin-top: 3rem;
}

.navbar-brand {
  margin-left: 0.1rem;
}

footer {
  /* color:white; */
  font-size: 80%;
  font-style: italic;
  clear: both;
  margin-top: 0.5rem;
  padding-bottom: 0.5rem;
}

@media (max-width: 575.98px) {
  .navbar-brand {
    margin-right: 0.1rem;
  }
  .nav-link {
    padding: 0.1rem 0.1rem;
  }
}
